<%- include('./partials/header.ejs')%>
  
  <!-- As a heading -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Text Analyzer</span>
    </div>
  </nav>


  <div class="container-fluid">
    <br>
    <h3>Using these links navigate to the following pages.</h3>

    <p><a href="/apis/v1/entity/RecognizeEntities" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">RegEntities</a></p>
    <p><a href="/apis/v1/entity/RecognizeEntityLinking" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">RegEntityLinking</a></p>
    <p><a href="/apis/v1/entity/RecognizePiiEntities" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">RegPiiEntities</a></p>
    <p><a href="/apis/v1/entity/ExtractKeyPhrase" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">ExtractKeyPhrase</a></p>
  
  </div>
  <%- include('./partials/footer.ejs')%>


