<%- include('./partials/header.ejs')%>
<div class="container-fluid">
    <form action="/apis/v1/entity/RecognizeEntityLinking" method="post">
        <h3>
            Enter a sentence
        </h3>
        <textarea cols="40" rows="4" name="sentence" id="linkingSentence"> </textarea>
        <input type="submit" value="Submit">
    </form>
</div>
<%- include('./partials/footer.ejs')%>
